@import "variables";

.card {
  padding: 1rem;
  margin: 1rem auto;
  min-height: 5rem;
  box-shadow: $box-shadow;
  background-color: aquamarine;
  border-radius: $border;

  &__title {
    padding: 1rem 0;
  }

  &__action {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
  }

  &__icon {
    &--active {
      transition: all 200ms ease;
      transform: rotate(45deg);
    }
  }
}
